<div class="card" >
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title" >
  <!--rednderiras samo ako postoji imageUrl, inace ako je null, javljace gresku u konzoli-->
  <div class="card-block">
      <h4 class="card-title">{{ product.title }}</h4>
      <p class="card-text">{{ product.price | currency:'HRK' }}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
        <button *ngIf="getQuantity() === 0" class="btn btn-primary btn-block" (click)="addToCart(product)">Add to Cart</button>
        <div *ngIf="getQuantity() > 0">{{ getQuantity() }} in cart</div>
  </div>   
</div>