<div class="addspace">
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
    <div class="goright">
            <input (keyup)="filteredItems(query.value)" #query  type="text" class="form-control" placeholder="Search">
    </div>       
</div>



<div class="addspace">
    <div class="input-group pagesize goleft">
        <span class="input-group-addon">Page size:</span>
        <select type="number" [(ngModel)]="pageSize" class="form-control" (click)="displayedItems()">
            <option value="4" >4</option>
            <option value="10" >10</option>
            <option value="15" >15</option>
            <option value="30" >30</option>
        </select>
    </div>

    <ngb-pagination class="goright" [collectionSize]="filteredProducts?.length" [pageSize]="pageSize" [(page)]="page" maxSize="3" rotate="true" (pageChange)="displayedItems()"></ngb-pagination>                
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of displayProducts">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
