<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Oshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"

  (click)="toggle()"
  [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault"

  [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart" (click)="toggle()">Shopping Cart</a>
      </li>
      <ng-template #anonymusUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" (click)="toggle()">Login</a>
        </li>
      </ng-template>
      <li *ngIf="appUser; else anonymusUser" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ appUser.name }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/orders" (click)="toggle()">My orders</a>
          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders" (click)="toggle()">Manage Orders</a>
            <a class="dropdown-item" routerLink="/admin/products"(click)="toggle()">Manage Products</a>
          </ng-container>
          <a class="dropdown-item" (click)="logout()" (click)="toggle()" >Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>