
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<p>
    <input (keyup)="filter(query.value)" #query  type="text" class="form-control" placeholder="Search">
</p>

<ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Nazad">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Nazad</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Naprijed">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Naprijed</span>
      </a>
    </li>
  </ul>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
